body {
  background-color: rgb(255, 255, 255);
} 

h1 { 
  background-color: green;
  color: gray;
}

p {
  color: rgb(0, 0, 0);
}

a {
  color: red;
}

a:hover {
  color: blue; 
} 

li {
  color: green;
}

