body {
    background-color: white;
    color: black;
}

h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-style: italic;
}

a {
    color: yellow;
}

.kapital {
    text-transform: uppercase;
}

.blue {
    background-color: yellow;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    margin: 100px auto 100px auto;
    width: 300px;
}

/* Start debug */
.bg-red {
    background-color: red;
}
/* End debug */